body {
    margin: auto;
    
    font-size: 70px;  
    text-align: center;
}

#kalkulator {
    box-sizing: border-box;
    position: relative;
    width: 800px;
    height: 1000px;
    border: solid 2px red;
    
}

.wymiary {
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 200px;

    border: solid 2px black;
    padding-top: 50px;
    background-color: aquamarine;
}

.przad {
    box-sizing: border-box;
    position: absolute;
    width: 800px;
    height: 200px;
    top: 0;
    border: solid 2px green;
    background-color: green;
}

.wymiary:hover {
    background-color: mediumaquamarine;
}

.wymiary:focus {
    background-color: red;
}

.drzad {
    top: 200px;    
}

.trzad {
   top: 400px; 
}

.crzad {
   top: 600px;
}

.piorzad {
    top: 800px;
}



.pierwszy {
    left: 0;
}

.drugi {
    left: 200px;
}

.trzeci {
    left: 400px;
}

.czwarty {
    left: 600px;
}